<body>
  <div class="background">
    <img src="./assets/grass.jpeg">
  </div>
  <div class="calendar">
    <iframe
      src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%2386000b&amp;ctz=America%2FNew_York&amp;src=ZmFybWZyZXNoYmVhdWZvcnRAZ21haWwuY29t&amp;color=%23D50000&amp;showTitle=0&amp;showNav=1&amp;showDate=1&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0"
      style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    <div class="datePicker">

      <div class="text">
        <p><b>Select the day of the week you would like to receive your eggs</b></p>
      </div>

      <button mat-raised-button (click)="picker.open()">Choose a date</button>

      <div class="dateSelection">
        <mat-form-field class="date_picker" appearance="legacy">
          <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker">
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>
      </div>

      <br>

      <div class="bottom">
        <mat-select>
          <mat-option>-- None --</mat-option>
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </div>

    </div>
  </div>
</body>