.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.calendar {
  margin: 2px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 800px;
  min-width: 700px;
  text-align: left;
}

.background img{
  height:91.65vh;
  width: 100%;
  object-fit: fill;
}

.datePicker {
  float:center;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  width: 100%;
  height: 100px;
}

.datePicker mat-form-field {
  right: 30px;
  height: 20px;
}

.datePicker mat-date-picker {
  height: 30px;
}


.datePicker .text {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  width:50%;
}

.datePicker .dateSelection {
  display: block;
  margin-bottom: 1;
  float: right;
  width: 200px;
  height: 30px;
}

.datePicker .dateSelection mat-raised-button {
  margin-top: 10px;
  display: block;
}

.datePicker .dateSelection input {
  height: 15px;
}

.datePicker .bottom {
  width: 100px;
  border-color: black;
  border-top: 10ch;
}

.datePicker .bottom mat-select{
  float: left;
  display: block;
  border-top: 1px;
}