.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.background {
  overflow: hidden;
  background-size: cover;
  background-color: rgb(92, 222, 255);
  width: 100%;
  height: auto;
}

.background img {
  max-width: 50%;
  height: 800px;
  display: block;
  right: 2%;
  top: 10px;
  position: relative;
  float: right;
}

.overlay {
  width: 600px;
  position: absolute;
  top: 320px;
  left: 10%;
  font-size: 32px;
  text-shadow: 4ch;
}

.overlay .mat-button {
  position: absolute;
  top: 40px;
  left: 200px;
  color: white;
  text-decoration: none;
  background-color: rgb(39, 49, 145);
  border-radius: 5px;
  display: block;
}

.mat-button a {
  color: white;
  text-decoration: none;
}
